﻿@using ProviderBid.Domain.Entities
@model ProviderBid.Domain.Entities.Bid

@{
    ViewBag.Title = "MeGaCoM: обработка заявок";
}

<h2>Заявка</h2>
Пожалуйста, заполните все поля формы заявки
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div>Имя:</div>
    <div>@Html.EditorFor(x => x.FirstName)</div>
    <div>Фамилия: </div><div>@Html.EditorFor(x => x.LastName)</div>
    <div>Отчество: </div><div>@Html.EditorFor(x => x.MidName)</div>
    <div>Адрес: </div><div>@Html.EditorFor(x => x.Address)</div>
    <div>Тариф: </div><div>@Html.DropDownListFor(x => x.TariffName, new SelectList(Enum.GetValues(typeof(Tariff))), "Выберите тариф")</div>

    <input class="actionButtons" type="submit" value="Подать заявку" />
}