﻿@model ProviderBid.Domain.Entities.Bid

@{
    ViewBag.Title = "Admin : Edit " + @Model.FirstName + " " + @Model.LastName;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Редактировать @Model.FirstName @Model.LastName</h1>
@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="Save"/>
    @Html.ActionLink("Отменить и вернуться к списку заявок", "Index")
}