﻿@model PagedList.IPagedList<ProviderBid.Domain.Entities.Bid>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Admin: All Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>All Products</h1>

<table class="Grid">
    <tr>
        <th>
            @Html.ActionLink("ID", "Index", new {sortOrder = ViewBag.IdSortParm})
        </th>
        <th>FirstName</th>
        <th>
            @Html.ActionLink("Last Name", "Index", new {sortOrder = ViewBag.NameSortParm})
        </th>
        <th>MiddleName</th>
        <th>Address</th>
        <th>
            @Html.ActionLink("Tariff", "Index", new {sortOrder = ViewBag.TariffSortParm})
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BidID</td>
            <td>@Html.ActionLink(item.FirstName, "Edit", new {item.BidID})</td>
            <td>@item.LastName</td>
            <td>@item.MidName</td>
            <td>@item.Address</td>
            <td>@item.TariffName</td>
            <td>
                @Html.ActionLink("Delete", "Delete", new {id = item.BidID})
            </td>
        </tr>
    }

</table>
<br/>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new {page, sortOrder = ViewBag.CurrentSort}))
