﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link href="~/Content/Admin.css" rel="stylesheet" type="text/css"/>
    <link href="../../Content/PagedList.css" rel="stylesheet" type="text/css" />
    <title></title>
</head>
<body>
<div>
    @if (TempData["message"] != null)
    {
        @TempData["message"]
    } 
 
    @RenderBody()
</div>
</body>
</html>
